@use 'animations.scss';
@use 'scrolldown.scss';
@use 'nav.scss';
@import 'mediaQueries.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Montserrat;
    background-color: black;
}
// variables definidas por tamaño de imagenes
.bgLayer {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    height: calc( 100vw * 5.1180 );
    width: 100%;
    @include for_breakpoint(mobile) {
        background-size: 300%;
    }
}

#mainContent {
    color: white;
    .bg {
        background-image: url('../public/images/webbg_hd.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right center;
    }
}

h3 {
    font-size: 1.5em;
}

.btn {
    padding: 15px 30px;
    border: 1px solid white;
    display: inline-block;
    cursor: pointer;
}
.btn:hover {
    background-color: white;
    color:black;
}
.btnWhite {
    padding: 10px 30px;
    background-color: white;
    color: black;
    border-radius: 10px;
}
.rounded {
    border-radius: 10px;
}
.allSections {
    overflow-x: hidden;
}
.contentSection {
    display: block;
    max-width: 1320px;
    margin: auto;
    // border: 1px solid red;
    height: 100vh;
    @include for_breakpoint(tablet) {
        padding: 30px;
        box-sizing: border-box;
        height: auto;
    }
    @include for_breakpoint(mobile) {
        padding: 20px;
        box-sizing: border-box;
        height: auto;
    }
}

.contentSection.active {
    // border: 1px solid red;
}

h2 {
    font-size: 38px;
    text-transform: uppercase;
}

#thunders {
    width: 0;
    height: 0;
}

// #sky {
//     bottom: 0;
//     left: 0;
//     position: absolute;
//     right: 0;
//     top: 0;
// }
#sky svg {
    animation: lightning 4s ease-in-out infinite;
    left: 50%;
    max-height: 100vh;
    max-width: 100vw;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
}

$welcomeWidth : calc( 100vh - 100px );

#welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    height: $welcomeWidth;
    flex-direction: column;
    position: relative;
    .scrolldown{
        position: absolute;
        bottom: 10%;
        @include for_breakpoint(tablet mobile) {
            bottom: 25%;
        }
    }
    img {
        width: 700px;
        @include for_breakpoint(tablet) {
            width: 500px;
        }
        @include for_breakpoint(mobile) {
            width: 300px;
        }
    }
}

#presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    > div {
        display: none;
    }
}
#presentation.active {
    > div {
        display: block;
        animation: fromBottom 0.5s ease-in 1;
    }
}
#story.active{
    .content {
        animation: fromBottom 0.5s ease-in 1;
        display: flex;
    }
}
#story{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .content {
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .details {
            margin-top: 50px;
            display: flex;
            font-size: 1.2em;
            animation: appear 0.4s ease-in 1;
    
            .text {
                width: calc(100% - 500px);
                padding: 0 20px;
                box-sizing: border-box;
                h3 {
                    margin-top: 0;
                }
                p {
                    text-align: justify;
                }
                a {
                    float: right;
                    display: block;
                }
                @include for_breakpoint(mobile) {
                    width: 100%;
                    padding: 0;
                    font-size: .8em;
                }
            }
            .featured{
                display: block;
                width: 500px;
                height: 330px;
                background-size: cover!important;
                background-position: center;
                @include for_breakpoint(mobile) {
                    width: 300px;
                    height: 200px;
                    margin: auto;
                    margin-bottom: 30px;
                }
            }
            @include for_breakpoint(mobile) {
                display: block;
            }
        }
        
        .buttons {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            width: 100%;
            gap: 50px;
            span {
                padding: 15px 30px;
                display: inline-block;
                cursor: pointer;
                
            }
            .active {
                border: 1px solid white;
                font-weight: bold;
            }
            @include for_breakpoint(mobile) {
                gap:10px;
            }
        }
    }
    
}

#dragons {
    display: flex;
    align-items: center;
    .content {
        display: none;
        .details {
            width: 60%;
            .mintDate {
                display: flex;
                > div {
                    flex-grow: 1;
                }
                .fatherIcons{
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    margin-top: 30px;
                    img {
                        width: 80px;
                        height: 80px;
                    }
                    flex-grow: 3;
                }
                .calendar {
                    flex-grow:1;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    .widget {
                        width: 90px;
                        border: 1px solid white;
                        text-align: center;
                        padding: 20px;
                        margin-bottom: 20px;
                        > span {
                            display: block;
                        }
                        .day {
                            font-size: 80px;
                            line-height: 65px;
                        }
                        .month {
                            font-size: 35px;
                            line-height: 25px;
                        }
                        .year {
                            font-size: 28px;
                        }
                    }
                    @include for_breakpoint(mobile) {
                        margin-top: 30px;
                        align-items: center;
                    }
                }
                @include for_breakpoint(mobile) {
                    display: block;
                }
            }
            @include for_breakpoint(mobile) {
                width: 100%;
                display: inline-block;
            }
        }
        .slider {
            width: 40%;
            margin-left: -40px;
            margin-top: -20%;
            img {
                width: 1000px;
                
                -webkit-transform: scaleX(-1);
                transform: scaleX(-1);
                @include for_breakpoint(mobile) {
                    width: 100%;
                }
            }
            .animatedImg{
                animation: lightAppear 0.4s ease-in 1;
            }
            @include for_breakpoint(mobile) {
                width: 100%;
                display: block;
                margin: 0;
                margin-top: 30px;
            }
        }
    }
    @include for_breakpoint(mobile) {
        display: block;
    }
}
#dragons.active {
    .content {
        display: flex;
        animation: fromBottom 0.5s ease-in 1;
        @include for_breakpoint(mobile) {
            display: block;
            font-size: .8em;
        }
    }
}

#roadmap {
    .slide {
        display: flex;
        gap: 20px;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        h2 {
            @include for_breakpoint(mobile) {
                padding-left: 20px;
            }
        }
    }
    .item {
        display: flex;
        align-items: center;
        gap: 15px;
        .detail{
            width: 300px;
        }
    }
    .timeline-card-content{
        display: none;
    }
    ul.timeline-controls{
        > li > button {
            background: #1d1d1d;
        }
    }
}

#roadmap.active {
    .timeline-card-content{
        display: block;
        animation: fromBottom 0.5s ease-in 1;
    }
}

#rulers {
    .content {
        display: none;
        .rulersGrid {
            display: flex;
            gap: 30px;
            .ruler {
                display: flex;
                .details {
                    display: none!important;
                    // border: 1px solid red;
                    width: 350px;
                    padding: 20px;
                    box-sizing: border-box;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    background-color: rgba(255,255,255,.7);
                    color: black; 
                    text-align: justify;
                    z-index: 1;
                    @include for_breakpoint(mobile) {
                        display: block!important;
                    }
                }
                > img {
                    z-index: 2;
                }
            }
            .ruler.active {
                .details {
                    display: block!important;
                    animation: 1s ease-out 0s 1 slideInFromLeft;
                }
            }
            @include for_breakpoint(mobile) {
                flex-direction: column;
                font-size: 0.8em;
            }
        }
    }
    
}
#rulers.active {
    .content {
        display: block;
        animation: fromBottom 0.5s ease-in 1;
    }
}
#howto {
    display: flex;
    justify-content: center;
    align-items: center;
    .content {
        display: none;
        width: 100%;
        h2 {
            text-align: right
        }
        .video {
            display: flex;
            justify-content: center;
        }
        .gameOptions {
            display: flex;   
            margin: 30px 0;
            gap: 20px;
            > div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                p {
                    text-align: center;
                }
            }
            @include for_breakpoint(mobile) {
                flex-direction: column;
            }
        }
    }
}
#howto.active {
    .content {
        display: block;
        animation: fromBottom 0.5s ease-in 1;
    }
}

#slider {
    position: relative;
    .dots{
        position: absolute;
        bottom: -30px;
        left: 40%;
        display: flex;
        gap: 10px;
        span {
            display: block;
            width: 20px;
            height: 20px;
            cursor: pointer;
            background-color: white;
            border-radius: 30px;
        }
        .active {
            background-color: #ffcb74;
        }
        @include for_breakpoint(mobile) {
            position: relative;
            width: 100%;
            bottom: auto;
            left: auto;
            justify-content: center;
            margin-top: 30px;
        }
    }
}

#video {
    // border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    .content {
        display: none;
        iframe {
            @include for_breakpoint(mobile) {
                width: 100%;
            }
        }
    }
}
#video.active {
    .content {
        display: block;
        animation: fromBottom 0.5s ease-in 1;
    }
}
#sitemap {
    margin-top: 2em;
    margin-bottom: 2em;
    .content {
        display: none;
        .navigate {
            display: flex;
            gap: 5em;
            justify-content: space-between;
            > div {
                border-right: 1px solid white;
                flex-grow: 1;
                box-sizing: border-box;
                ul {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    li {
                        font-size: 1.2em;
                        padding: 10px 0;
                    }
                }
                a {
                    color: white;
                    font-size: 1.2em;
                    // text-decoration: none;
                }
            }
            
            @include for_breakpoint(mobile) {
                flex-direction: column;
            }
        }
        .contact{
            margin: 5em 0;
            display: flex;
            .newsl {
                flex-grow: 2;
                .inputSubs{
                    position: relative;
                    display: block;
                    width: 600px;
                    background: rgba(255,255,255,.3);
                    border-radius: 7px;
                    height: 40px;
                    display: flex;
                    input {
                        flex-grow: 3;
                        background-color: transparent;
                        border: none;
                        border-radius: 7px;
                        outline: none;
                        color: white;
                        font-size: 1.2em;
                        padding: 10px;
                    }
                    button {
                        background-color: orange;
                        border: none;
                        border-radius: 7px;
                        color: white;
                        flex-grow: 1;
                    }
                    @include for_breakpoint(mobile) {
                        width: 100%;
                    }
                }
            }
            .modes {
                flex-grow: 1;
                a {
                    color: white;
                }
                @include for_breakpoint(mobile) {
                    margin-top: 30px;
                }
            }
            @include for_breakpoint(mobile) {
                flex-direction: column;
                margin: 30px 0;
            }
        }
        .lastOne {
            display: flex;
            justify-content: flex-end; 
            margin-bottom: 2em;
        }
    } 
    .copyrights{
        text-align: center;
        margin-top: 5em;
    }
}
#sitemap.active {
    .content {
        display: block;
        animation: fromBottom 0.5s ease-in 1;
    }
}