/* Media Queries */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}
@keyframes pulse {
  to {
    opacity: 1;
  }
}
@keyframes lightning {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 0.8;
  }
  20% {
    opacity: 0.1;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes appear {
  0% {
    transform: translateX(-40px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes fromBottom {
  0% {
    transform: translateY(150px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes lightAppear {
  0% {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1) translate(-1000px, 0px);
  }
  100% {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1) translate(0px, 0px);
  }
}
@keyframes sky {
  0% {
    opacity: 0.3;
  }
  15% {
    opacity: 0.7;
  }
  20% {
    opacity: 0.4;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.3;
  }
}
@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes appearOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes hidetoright {
  0% {
    transform: translateX(0);
    width: 300px;
  }
  100% {
    transform: translateX(100%);
    width: 0;
  }
}
@keyframes showfromright {
  0% {
    transform: translateX(100%);
    width: 0;
  }
  100% {
    transform: translateX(0);
    width: 100px;
  }
}
.scrolldown {
  position: relative;
  width: 24px;
  height: 24px;
}
.scrolldown .chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}
.scrolldown .chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}
.scrolldown .chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}
.scrolldown .chevron:before,
.scrolldown .chevron:after {
  content: " ";
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: white;
}
.scrolldown .chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}
.scrolldown .chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}
.scrolldown .text {
  display: block;
  margin-top: 75px;
  margin-left: -30px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: 0.25;
  animation: pulse 2s linear alternate infinite;
}

/* Media Queries */
nav {
  height: 100px;
  background-color: rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  z-index: 2;
}
nav .logo {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
@media (max-width: 667px) {
  nav .logo {
    width: 200px;
  }
}
nav .menu {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: calc( 100vw - 300px );
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav .menu ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: space-between;
  height: 100%;
}
nav .menu ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 0 20px;
  font-size: 18px;
  color: white;
  letter-spacing: 2px;
  height: 100%;
}
nav .menu ul li:hover {
  border-bottom: 5px solid white;
}
@media (max-width: 667px) {
  nav .fullMenu {
    display: none;
  }
}
nav .mobileMenu {
  flex-grow: 2;
}
@media (min-width: 668px) {
  nav .mobileMenu {
    display: none;
  }
}

#collapsableMenu {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
}
#collapsableMenu .content {
  overflow-x: hidden;
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  background-color: black;
  height: 100vh;
}
#collapsableMenu .content h3 {
  padding: 0 20px;
}
#collapsableMenu .content h3 svg {
  float: right;
}
#collapsableMenu .content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#collapsableMenu .content ul li a {
  height: 70px;
  display: flex;
  color: white;
  text-decoration: none;
  justify-content: flex-start;
  padding: 0 20px;
  align-items: center;
  text-align: left;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  font-family: Montserrat;
}

#collapsableMenu.inactive {
  animation-delay: 1s;
  animation: 1s ease-out disappear;
  width: 0;
}
#collapsableMenu.inactive .content {
  animation: 1s ease-out hidetoright;
  width: 0;
}

#collapsableMenu.active {
  width: 100%;
}
#collapsableMenu.active .content {
  animation: 0.3s ease-in showfromright;
  width: 300px;
}

@media (max-width: 667px) {
  .vertical-item-row.visible > div:not(.card-content-wrapper) {
    display: none;
  }
}
.vertical-item-row.visible .card-content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
@media (max-width: 667px) {
  .vertical-item-row.visible .card-content-wrapper section > span {
    display: none;
  }
}
@media (max-width: 667px) {
  .vertical-item-row.visible .card-content-wrapper {
    width: 100%;
    position: relative;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Montserrat;
  background-color: black;
}

.bgLayer {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  height: calc( 100vw * 5.1180 );
  width: 100%;
}
@media (max-width: 667px) {
  .bgLayer {
    background-size: 300%;
  }
}

#mainContent {
  color: white;
}
#mainContent .bg {
  background-image: url("../public/images/webbg_hd.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
}

h3 {
  font-size: 1.5em;
}

.btn {
  padding: 15px 30px;
  border: 1px solid white;
  display: inline-block;
  cursor: pointer;
}

.btn:hover {
  background-color: white;
  color: black;
}

.btnWhite {
  padding: 10px 30px;
  background-color: white;
  color: black;
  border-radius: 10px;
}

.rounded {
  border-radius: 10px;
}

.allSections {
  overflow-x: hidden;
}

.contentSection {
  display: block;
  max-width: 1320px;
  margin: auto;
  height: 100vh;
}
@media (max-width: 1320px) {
  .contentSection {
    padding: 30px;
    box-sizing: border-box;
    height: auto;
  }
}
@media (max-width: 667px) {
  .contentSection {
    padding: 20px;
    box-sizing: border-box;
    height: auto;
  }
}

h2 {
  font-size: 38px;
  text-transform: uppercase;
}

#thunders {
  width: 0;
  height: 0;
}

#sky svg {
  animation: lightning 4s ease-in-out infinite;
  left: 50%;
  max-height: 100vh;
  max-width: 100vw;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
}

#welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc( 100vh - 100px );
  flex-direction: column;
  position: relative;
}
#welcome .scrolldown {
  position: absolute;
  bottom: 10%;
}
@media (max-width: 1320px), (max-width: 667px) {
  #welcome .scrolldown {
    bottom: 25%;
  }
}
#welcome img {
  width: 700px;
}
@media (max-width: 1320px) {
  #welcome img {
    width: 500px;
  }
}
@media (max-width: 667px) {
  #welcome img {
    width: 300px;
  }
}

#presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
#presentation > div {
  display: none;
}

#presentation.active > div {
  display: block;
  animation: fromBottom 0.5s ease-in 1;
}

#story.active .content {
  animation: fromBottom 0.5s ease-in 1;
  display: flex;
}

#story {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#story .content {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#story .content .details {
  margin-top: 50px;
  display: flex;
  font-size: 1.2em;
  animation: appear 0.4s ease-in 1;
}
#story .content .details .text {
  width: calc(100% - 500px);
  padding: 0 20px;
  box-sizing: border-box;
}
#story .content .details .text h3 {
  margin-top: 0;
}
#story .content .details .text p {
  text-align: justify;
}
#story .content .details .text a {
  float: right;
  display: block;
}
@media (max-width: 667px) {
  #story .content .details .text {
    width: 100%;
    padding: 0;
    font-size: 0.8em;
  }
}
#story .content .details .featured {
  display: block;
  width: 500px;
  height: 330px;
  background-size: cover !important;
  background-position: center;
}
@media (max-width: 667px) {
  #story .content .details .featured {
    width: 300px;
    height: 200px;
    margin: auto;
    margin-bottom: 30px;
  }
}
@media (max-width: 667px) {
  #story .content .details {
    display: block;
  }
}
#story .content .buttons {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  gap: 50px;
}
#story .content .buttons span {
  padding: 15px 30px;
  display: inline-block;
  cursor: pointer;
}
#story .content .buttons .active {
  border: 1px solid white;
  font-weight: bold;
}
@media (max-width: 667px) {
  #story .content .buttons {
    gap: 10px;
  }
}

#dragons {
  display: flex;
  align-items: center;
}
#dragons .content {
  display: none;
}
#dragons .content .details {
  width: 60%;
}
#dragons .content .details .mintDate {
  display: flex;
}
#dragons .content .details .mintDate > div {
  flex-grow: 1;
}
#dragons .content .details .mintDate .fatherIcons {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 30px;
  flex-grow: 3;
}
#dragons .content .details .mintDate .fatherIcons img {
  width: 80px;
  height: 80px;
}
#dragons .content .details .mintDate .calendar {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#dragons .content .details .mintDate .calendar .widget {
  width: 90px;
  border: 1px solid white;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
}
#dragons .content .details .mintDate .calendar .widget > span {
  display: block;
}
#dragons .content .details .mintDate .calendar .widget .day {
  font-size: 80px;
  line-height: 65px;
}
#dragons .content .details .mintDate .calendar .widget .month {
  font-size: 35px;
  line-height: 25px;
}
#dragons .content .details .mintDate .calendar .widget .year {
  font-size: 28px;
}
@media (max-width: 667px) {
  #dragons .content .details .mintDate .calendar {
    margin-top: 30px;
    align-items: center;
  }
}
@media (max-width: 667px) {
  #dragons .content .details .mintDate {
    display: block;
  }
}
@media (max-width: 667px) {
  #dragons .content .details {
    width: 100%;
    display: inline-block;
  }
}
#dragons .content .slider {
  width: 40%;
  margin-left: -40px;
  margin-top: -20%;
}
#dragons .content .slider img {
  width: 1000px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
@media (max-width: 667px) {
  #dragons .content .slider img {
    width: 100%;
  }
}
#dragons .content .slider .animatedImg {
  animation: lightAppear 0.4s ease-in 1;
}
@media (max-width: 667px) {
  #dragons .content .slider {
    width: 100%;
    display: block;
    margin: 0;
    margin-top: 30px;
  }
}
@media (max-width: 667px) {
  #dragons {
    display: block;
  }
}

#dragons.active .content {
  display: flex;
  animation: fromBottom 0.5s ease-in 1;
}
@media (max-width: 667px) {
  #dragons.active .content {
    display: block;
    font-size: 0.8em;
  }
}

#roadmap .slide {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 667px) {
  #roadmap .slide h2 {
    padding-left: 20px;
  }
}
#roadmap .item {
  display: flex;
  align-items: center;
  gap: 15px;
}
#roadmap .item .detail {
  width: 300px;
}
#roadmap .timeline-card-content {
  display: none;
}
#roadmap ul.timeline-controls > li > button {
  background: #1d1d1d;
}

#roadmap.active .timeline-card-content {
  display: block;
  animation: fromBottom 0.5s ease-in 1;
}

#rulers .content {
  display: none;
}
#rulers .content .rulersGrid {
  display: flex;
  gap: 30px;
}
#rulers .content .rulersGrid .ruler {
  display: flex;
}
#rulers .content .rulersGrid .ruler .details {
  display: none !important;
  width: 350px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
  text-align: justify;
  z-index: 1;
}
@media (max-width: 667px) {
  #rulers .content .rulersGrid .ruler .details {
    display: block !important;
  }
}
#rulers .content .rulersGrid .ruler > img {
  z-index: 2;
}
#rulers .content .rulersGrid .ruler.active .details {
  display: block !important;
  animation: 1s ease-out 0s 1 slideInFromLeft;
}
@media (max-width: 667px) {
  #rulers .content .rulersGrid {
    flex-direction: column;
    font-size: 0.8em;
  }
}

#rulers.active .content {
  display: block;
  animation: fromBottom 0.5s ease-in 1;
}

#howto {
  display: flex;
  justify-content: center;
  align-items: center;
}
#howto .content {
  display: none;
  width: 100%;
}
#howto .content h2 {
  text-align: right;
}
#howto .content .video {
  display: flex;
  justify-content: center;
}
#howto .content .gameOptions {
  display: flex;
  margin: 30px 0;
  gap: 20px;
}
#howto .content .gameOptions > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#howto .content .gameOptions > div p {
  text-align: center;
}
@media (max-width: 667px) {
  #howto .content .gameOptions {
    flex-direction: column;
  }
}

#howto.active .content {
  display: block;
  animation: fromBottom 0.5s ease-in 1;
}

#slider {
  position: relative;
}
#slider .dots {
  position: absolute;
  bottom: -30px;
  left: 40%;
  display: flex;
  gap: 10px;
}
#slider .dots span {
  display: block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-color: white;
  border-radius: 30px;
}
#slider .dots .active {
  background-color: #ffcb74;
}
@media (max-width: 667px) {
  #slider .dots {
    position: relative;
    width: 100%;
    bottom: auto;
    left: auto;
    justify-content: center;
    margin-top: 30px;
  }
}

#video {
  display: flex;
  justify-content: center;
  align-items: center;
}
#video .content {
  display: none;
}
@media (max-width: 667px) {
  #video .content iframe {
    width: 100%;
  }
}

#video.active .content {
  display: block;
  animation: fromBottom 0.5s ease-in 1;
}

#sitemap {
  margin-top: 2em;
  margin-bottom: 2em;
}
#sitemap .content {
  display: none;
}
#sitemap .content .navigate {
  display: flex;
  gap: 5em;
  justify-content: space-between;
}
#sitemap .content .navigate > div {
  border-right: 1px solid white;
  flex-grow: 1;
  box-sizing: border-box;
}
#sitemap .content .navigate > div ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#sitemap .content .navigate > div ul li {
  font-size: 1.2em;
  padding: 10px 0;
}
#sitemap .content .navigate > div a {
  color: white;
  font-size: 1.2em;
}
@media (max-width: 667px) {
  #sitemap .content .navigate {
    flex-direction: column;
  }
}
#sitemap .content .contact {
  margin: 5em 0;
  display: flex;
}
#sitemap .content .contact .newsl {
  flex-grow: 2;
}
#sitemap .content .contact .newsl .inputSubs {
  position: relative;
  display: block;
  width: 600px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 7px;
  height: 40px;
  display: flex;
}
#sitemap .content .contact .newsl .inputSubs input {
  flex-grow: 3;
  background-color: transparent;
  border: none;
  border-radius: 7px;
  outline: none;
  color: white;
  font-size: 1.2em;
  padding: 10px;
}
#sitemap .content .contact .newsl .inputSubs button {
  background-color: orange;
  border: none;
  border-radius: 7px;
  color: white;
  flex-grow: 1;
}
@media (max-width: 667px) {
  #sitemap .content .contact .newsl .inputSubs {
    width: 100%;
  }
}
#sitemap .content .contact .modes {
  flex-grow: 1;
}
#sitemap .content .contact .modes a {
  color: white;
}
@media (max-width: 667px) {
  #sitemap .content .contact .modes {
    margin-top: 30px;
  }
}
@media (max-width: 667px) {
  #sitemap .content .contact {
    flex-direction: column;
    margin: 30px 0;
  }
}
#sitemap .content .lastOne {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2em;
}
#sitemap .copyrights {
  text-align: center;
  margin-top: 5em;
}

#sitemap.active .content {
  display: block;
  animation: fromBottom 0.5s ease-in 1;
}

/*# sourceMappingURL=global.css.map */
