@use 'animations.scss';
@use 'scrolldown.scss';
@use 'nav.scss';
@use 'presentation.scss';
@use 'story.scss';
@use 'dragons.scss';
@use 'roadmap.scss';
@use 'rulers.scss';
@use 'howto.scss';
@use 'video.scss';
@use 'sitemap.scss';
@import 'mediaQueries.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Montserrat;
    background-color: black;
}
// variables definidas por tamaño de imagenes
.bgLayer {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    height: calc( 100vw * 5.1180 );
    width: 100%;
    @include for_breakpoint(mobile) {
        background-size: 300%;
    }
}

#mainContent {
    color: white;
    .bg {
        background-image: url('../public/images/webbg_hd.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right center;
    }
}

h3 {
    font-size: 1.5em;
}

.btn {
    padding: 15px 30px;
    border: 1px solid white;
    display: inline-block;
    cursor: pointer;
}
.btn:hover {
    background-color: white;
    color:black;
}
.btnWhite {
    padding: 10px 30px;
    background-color: white;
    color: black;
    border-radius: 10px;
}
.rounded {
    border-radius: 10px;
}
.allSections {
    overflow-x: hidden;
}
.contentSection {
    display: block;
    max-width: 1320px;
    margin: auto;
    // border: 1px solid red;
    height: 100vh;
    @include for_breakpoint(tablet) {
        padding: 30px;
        box-sizing: border-box;
        height: auto;
        min-height: 70vh;
    }
    @include for_breakpoint(mobile) {
        padding: 20px;
        box-sizing: border-box;
        height: auto;
        min-height: 70vh;
    }
}

.contentSection.active {
    // border: 1px solid red;
}

h2 {
    font-size: 38px;
    text-transform: uppercase;
}

#thunders {
    width: 0;
    height: 0;
}

// #sky {
//     bottom: 0;
//     left: 0;
//     position: absolute;
//     right: 0;
//     top: 0;
// }
#sky svg {
    animation: lightning 4s ease-in-out infinite;
    left: 50%;
    max-height: 100vh;
    max-width: 100vw;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
}

$welcomeWidth : calc( 100vh - 100px );

#welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    height: $welcomeWidth;
    flex-direction: column;
    position: relative;
    .scrolldown{
        position: absolute;
        bottom: 10%;
        @include for_breakpoint(tablet mobile) {
            bottom: 25%;
        }
    }
    img {
        width: 700px;
        @include for_breakpoint(tablet) {
            width: 500px;
        }
        @include for_breakpoint(mobile) {
            width: 300px;
        }
    }
}

#slider {
    position: relative;
    .dots{
        position: absolute;
        bottom: -30px;
        left: 40%;
        display: flex;
        gap: 10px;
        span {
            display: block;
            width: 20px;
            height: 20px;
            cursor: pointer;
            background-color: white;
            border-radius: 30px;
        }
        .active {
            background-color: #ffcb74;
        }
        @include for_breakpoint(mobile) {
            position: relative;
            width: 100%;
            bottom: auto;
            left: auto;
            justify-content: center;
            margin-top: 30px;
        }
    }
}